name: test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          ref: ${{ github.ref }}
      - name: Generate DSL
        uses: burrunan/gradle-cache-action@v3
        with:
          arguments: :dsl-generator:run
      - name: Test
        uses: burrunan/gradle-cache-action@v3
        with:
          arguments: :example:run